*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;

}
.small-text {
  font-size: 12px;
}
.top-banner{
    background: rgb(43,66,53);
    background: linear-gradient(51deg, rgba(43,66,53,1) 0%, rgba(57,93,70,1) 90%);
}
.bg-yellow{
    background-color: #ffde67;  
}
.icon-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.bg-gray{
    background-color: #e9e9e9;
}
.off-tag{
    height: 90px;
    width: 90px;
    top: 30%;
    right: 20%;
}
.width-tabs{
    width: 300px;
}
.off-price{
    top: 20%;
    right: 14%;
}
.icon{
    width: 30px;
    height: 30px;
    border: 2px solid;
}
.bottom-20{
    bottom: 50px;
}
.brand-logos{
    height: 100px;
}
.brand-logos img{
    filter: invert(1);
}
.bg-mix{
    background: rgb(255,222,103);
background: linear-gradient(90deg, rgba(255,222,103,1) 49%, rgba(59,94,72,1) 49%);
}
.mail::placeholder{
    color: black;
    font-size: 12px;
}
.container{
    transition: all 500ms;
}