*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  box-sizing: border-box;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.badge {
  width: 100px;
  height: 100px;
  background-color: #dbeafe; /* Light blue */
  font-weight: bold;
  clip-path: polygon(
    50% 0%, 65% 6%, 79% 15%, 90% 28%, 96% 43%, 
    100% 50%, 96% 57%, 90% 72%, 79% 85%, 65% 94%, 
    50% 100%, 35% 94%, 21% 85%, 10% 72%, 4% 57%, 
    0% 50%, 4% 43%, 10% 28%, 21% 15%, 35% 6%
  );
}
