@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  background: rgb(117,120,125);
background: linear-gradient(172deg, rgba(117,120,125,1) 0%, rgba(92,95,102,1) 84%);
padding: 14px;
height: 100vh;
}